.container {
  justify-content: left;

  h1 {
    font-size: 52px;
    color: azure;
    text-shadow: 2px 2px #7860ff;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    color: rgb(206, 255, 255);
    padding: 0px;
  }
}